# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# BEDLAM
# Ground trajectory masks
tools/sequence_generation/images/
BE_IBL_20230711/
BE_IBL_20230711.zip
animations/
abc/
abc_test/
.vscode/
bedlam_body_textures_meshcapade/
fbx/
fbx_test/
images/
unrealego/
gendered_ground_truth/
body_texture_previews/
tools/sequence_generation/venv/

# Large files
*.zip
*.pkl
*.abc
*.fbx
gendered_ground_truth.zip
renderpeople_mixamo_labels_with_original.pkl
bedlam_body_textures_meshcapade.zip
smplx_blender_addon_300_20220623.zip
unreal/import/debug.txt
